body{
    margin: 0;
    padding: 0;
}

/* quote */
.quote{
    min-height: 648px;
    max-width: 1020px;
    margin: 0 auto;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    overflow: hidden;
}
.quote__content{
    max-width: 940px;
    height: 100%;
    padding: 48px 40px 0px;
}
.quote__title{
    width: 170px;
    height: 20px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 17.86px;
    word-spacing: 0.07rem;
    letter-spacing: 0.018rem;
}
.quote__text{
    width: 939px;
    height: 47px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 5px;
    word-spacing: 0.018rem;
    letter-spacing: -0.015rem;
}
.contact-form{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    max-width: 619px;
    height: 418px;
}
input, textarea, button{
    display: block;   
}
.contact-form__info{
    height: 195px;
    width: 305px;
}
input{
    width: 604px;
    height: 38px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 15px;
}
input:not(:first-child){
    margin-top: 14px;
}
input::placeholder{
    width: 88px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}
textarea{
    margin-top: 14px;
    width: 601px;
    height: 200px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: "Lato", sans-serif;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 15px;
}
textarea::placeholder{
    width: 168px;
    height: 11px;
    color: #f48c8f;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    padding-top: 7px;
}
button{
    margin-top: 14px;
    height: 38px;
    width: 115px;
    background-color: #d6564f;
    border: 1px solid #f0d8d9;
    border-radius: 5px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
button:hover{
    cursor:pointer;
    background-color: #a74540;
}
.contact-form__info{
    margin-top: -14px;
    margin-left: 20px;
}
.contact-form__info h3{
    width: 168px;
    height: 14px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 17.86px;
    word-spacing: 0.01rem;
    letter-spacing: 0.018rem;;
}
.contact-form__info p{
    position: relative;
    width: 301px;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    word-spacing: -0.021rem;
    margin: 0;
    top: -5px;
}
.address{
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-decoration: none;
    padding-left: 24px;
    padding-top: 23px;
    word-spacing: -0.08rem;
    letter-spacing: -0.01rem;
}
.phone{
    position: relative;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-decoration: none;
    padding-left: 8px;
    top: -5px;
    letter-spacing: -0.01rem;
}
.email{
    position: relative;
    color: #f0d8d9;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-decoration: none;
    padding-left: 7px;
    top: -4px;
    letter-spacing: -0.003rem;
}
.location__icon{
    position: absolute;
    padding-top: 21px;
    margin-left: 1px;
    height: 11px;
    width: 11px;
}
.phone__icon{
    position: relative;
    top: -4px;
    left: 1px;
    height: 11px;
    width: 11px;
}
.mail__icon{
    position: relative;
    top: -2px;
    height: 11px;
    width: 13px;
}


/* footer */
.footer{
    height: 76px;
    max-width: 1020px;
    margin: 0 auto;
    background-color: #2d303a;
}
.footer__content{
    max-width: 940px;
    height: 100%;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-family: "Lato", sans-serif;
    font-size: 11px;
    color: #4e5368;
    width: 92px;
    height: 11px;
    padding-left: 1px;
    word-spacing: 0.01rem;
    letter-spacing: 0.015rem;
}
.icon:hover{
    cursor: pointer;
}
.icon_facebook{
    position: relative;
    right: 5px;
    top: 2px;
}
.icon_google-plus{
    position: relative;
    top: 2px;
    right: 2px;
}
.icon_twitter{
    position: relative;
    top: 2px;
    right: 2px;
}
.icon_linkedin{
    position: relative;
    top: 2px;
}